.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading h5{
    font-weight: 300;
}
.heading h3{

}
#checkbox {
    width: 1rem
}

form span {
    font-size: .8rem
}

#reset_pass_lbl {
    float: left
}

/***    Home Page     ***/
.home-page-title {
    color: #222
}